<div class="container">
  <%= render "shared/mypage_tabs" %>
  <div class="text-center form-signin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, class: "sr-only" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "新しいパスワード(6文字以上で入力してください)" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: "sr-only" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード確認" %>
      </div>
      <div class="field">
        <%= f.label :current_password, class: "sr-only" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control current_password", placeholder: "現在のパスワード" %>
      </div>
      <div class="actions update-button">
        <%= f.submit "Update", class: "btn btn-lg btn-success btn-block " %>
      </div>
    <% end %>
      <p class="acount-delete text-secondary">退会される方は下のボタンをクリック <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-lg btn-secondary", method: :delete %></p>
  </div>
</div>
