<div class="container">
  <%= render "shared/mypage_tabs" %>
  <% if @favorite_list.present? %>
    <div class="row">
      <% @favorite_list.each do |lesson| %>
      <div class="col-sm-12 col-lg-6 col-xl-4">
        <div class="lesson-content shadow m-3">
          <%= link_to lesson_path(lesson) do %>
            <div class="lesson-image">
              <%= image_tag lesson.image.to_s, class: "img-fluid" %>
              <div class="view-count text-info">
                <i class="fa-solid fa-eye"></i>
                <%= lesson.impressions_count %>
                <i class="fa-lg fas fa-heart liked"></i>
                <%= lesson.favorites.length %>
              </div>
            </div>
          <div class="bg-info text-white">
            <h4 class="pl-3"><%= lesson.title %></h4>
            <div class="user-profile d-flex justify-content-between p-2">
              <%= image_tag lesson.user.image.to_s, class: "rounded-circle lesson-icon", alt: "レッスン画像" %>
              <p><%= lesson.user.name %></p>
              <p><i class="fa-lg fa-solid fa-location-dot pr-2"></i><%= lesson.address %></p>
            </div>
          </div> 
          <% end %>
        </div>
      </div>
      <% end %>  
    </div>
  <% end %>
</div>
