<div class="container-fiuld">
  <h4 class="p-4">検索結果：<%= @lessons.count %>件</h4>
  <div class="row">
    <% @lessons.each do |lesson| %>
    <div class="col-sm-6 col-lg-4 col-xl-3 m-3">
      <div class="lesson-content shadow">
        <%= link_to lesson_path(lesson) do %>
          <div class="lesson-image">
            <%= image_tag lesson.image.to_s, class: "img-fluid img-thumbnail" %>
          </div>
          <div class="bg-info text-white">
            <h4 class="pl-3"><%= lesson.title %></h4>
            <div class="user-profile d-flex flex-row p-2">
              <%= image_tag lesson.user.image.to_s, class: "rounded-circle lesson-icon" %>
              <p class="col-7"><%= lesson.user.name %></p>
              <p class="col-2"><%= lesson.address %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>  
  </div>
</div>
