<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-dark static-top">
      <div class="container-fluid">
        <%= link_to "Start Bootstrap", root_path, class: "navbar-brand text-light" %>
        <% if user_signed_in? %>
          <div class="dropdown open mr-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu bg-dark">
              <li><%= link_to 'My Page Top', users_mypage_path %></li>
              <li><%= link_to 'Setting', edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </div>
          </div>
        <% else %>
          <div class="d-flex justify-content-end">
            <div class="p-2"><%= link_to 'Signup', new_user_registration_path, class: "btn btn-success" %></div>
            <div class="p-2"><%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %></div>
          </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-start">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
